/* ---------------- GAME SIZE (LOCKED) ---------------- */

/* Desktop */

.game_window {
  position: relative;
  width: 100%;
  height: 99%;
  overflow: hidden;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid var(--card-border-shadow);
  touch-action: manipulation;
  z-index: 100;
  background: linear-gradient(
    180deg,
    var(--bg-gradient-top, rgba(45,23,76,1)),
    var(--bg-gradient-bottom, rgba(22,11,38,1))
  );
}

/* Mobile */
@media (max-width: 600px) {
  .game_window {
    width: 300px;
    height: 600px;
  }
}

/* ---------------------------------------------------- */



.game_bubble_layer {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 100;
}

.game_bubble {
  position: absolute;
  pointer-events: auto;
  touch-action: manipulation;

  z-index: 100;
    box-shadow:
    0 0 4px var(--bubble-pink-glow),
    inset 0 0 30px var(--accent-strong, --bubble-rim-light);
  border-radius: 50%;
}

.game_bubble::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(255,255,255,0.6) 0%,
    rgba(255,255,255,0) 70%
  );
  border-radius: 50%;
  pointer-events: none;
}





.game_bubble_popped {
  animation: game_pop 0.3s forwards;
  z-index: 100;
}

/* ---------------- POPUP ---------------- */

.game_overlay {
  position: absolute;
  inset: 0;
  background: rgba(60, 32, 40, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.game_popup {
  background: var(--card-bg);
  padding: 2.5rem 3rem;
  border-radius: 15px;
  text-align: center;
  width: 80%;
  color: white;
}

.game_go {
  margin-top: 1.5rem;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  background: var(--card-bg);
  color: white;
}

/* ---------------- ANIMATIONS ---------------- */

@keyframes game_pop {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.5); opacity: 0.7; }
  100% { transform: scale(0); opacity: 0; }
}


/* Mobile Adjustments for Game Window */
@media (max-width: 1300px) {
  .game_window {
    width: 100%; 
    max-height: 300px;
    border-radius: 4px;
    box-shadow: 0 4px 15px var(--bubble-rim-light); 
  }


  .game_popup {
    padding: 0.7rem; 
    width: 80%;
    font-size: 10px; 
    font-weight: 100;
  }

  .game_go {
    padding: 0.6rem 1.8rem;
    font-size: 10px;
    margin-top: 0;
  }



}