.project-card-container {
  margin: auto;
  overflow-y: auto;
  font-family: var(--font-main);
}

/* Header */

.project-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}


/* Back Button */

.back-button {
  background: none;
  border: none;
  color: var(--text-muted);
  font-size: var(--fs-ui);
  cursor: pointer;
  transition: color 0.2s ease;
}

.back-button:hover {
  font-weight: 600;
}

/* Image */
.project-card-image {
  width: 100%;
  max-height: 240px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 24px;
}

/* Sections */

.project-section {
  margin-bottom: 28px;
}

.project-section h3 {
  font-size: var(--fs-ui);
  color: var(--text-muted);
  margin-bottom: 10px;

  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.project-section p {
  font-size: var(--fs-body);
  color: var(--text-muted);
  line-height: 1.6;
}

/* Tech Grid */

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 8px;
}

/* Technologies */

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tech-item {
    background: var(--accent-blue);
  color: white;
  border: 1px solid var(--card-border);
  padding: 6px 10px;
  font-size: var(--fs-ui);
  border-radius: 4px;
}

/* Links */
/* Links */
.project-links {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.links-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 16px;
  display: flex; 
  justify-items: end;
  width: 100%; 
  max-width: 100%; 
  margin: 0 auto; 
}


.project-link-btn {
  background: var(--accent-blue);
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.project-link-btn svg {
  font-size: 32px; /* Increase icon size */
}

.project-link-btn:hover {
  transform: translateY(-4px); /* Hover effect */
  opacity: 0.9;
}